.menu {
  position: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 70px; 
  left: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  color: #fff;
  margin-top: 20px;
}
.menu-toggle {
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.changeBackground{
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
  border: 3px rgba(0, 0, 0, 0.342) solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.miniBackground{
  width: 60px;
  height: 60px;
  background-repeat:round;
  padding-right: 50px;
}

.menuOption{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  border-radius: 5px;
}

.selected{
  background-color: #ffffff2f;
}